fuentes/UD1. Digitalización en los sistemas productivos.pdf
fuentes/UD2. Caracterización de tecnologías habilitadoras.pdf
fuentes/UD3. Computación en la nube.pdf
fuentes/UD4. La Inteligencia Artificial.pdf
fuentes/UD5. Los datos y su protección.pdf
fuentes/UD6. El plan de transformación digital.pdf
